{% extends "flask_user_layout.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}"/>
{% endblock %}

{% block title %} {{ user_manager.USER_APP_NAME }} {% endblock %}
{% block content %}
    <h1 class="text-center">HOME PAGE</h1>
    <div class="col-md-8 offset-md-2 info">
        <p class="btn btn-md text-center"><a href={{ url_for('movies_page') }}>Movies Overview</a></p>
        <p class="btn btn-md text-center"><a href={{ url_for('recommendations') }}>Recommendations For You</a></p>
    </div>
{% endblock %}
