{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    <h2>Movies</h2>

    {% for m in movies %}
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ m.title }}</b></div>
            <div class="panel-body">
                <p>
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre }}</span>
                    {% endfor %}
                </p>
                <p>
                    {% for movieId, tag in tags.items() %}
                        {% if movieId == m.id %}
                            {% for t in tag %}
                            <span class="label label-default">{{ t.tag }}</span>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </p>
                <p>
                    {% for movieId, link in links.items() %}
                        {% if movieId == m.id %}
                            {% for l in link %}
                            <a class="label label-default" href ={{ "https://www.imdb.com/title/tt0" + l.imdb_id|string}}  >{{ "https://www.imdb.com/title/tt0" + l.imdb_id|string }}</a>

                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </p>

                <p>
                    {% for movieId, link in links.items() %}
                        {% if movieId == m.id %}
                            {% for l in link %}
                            <a class="label label-default" href ={{ "https://www.themoviedb.org/movie/" + l.tmdb_id|string}}  >{{ "https://www.themoviedb.org/movie/" + l.tmdb|string }}</a>

                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </p>

            </div>
              <div class="panel-footer">Rate:
                  <a href="#" class="card-link">1</a>
                  <a href="#" class="card-link">2</a>
                  <a href="#" class="card-link">3</a>
                  <a href="#" class="card-link">4</a>
                  <a href="#" class="card-link">5</a> Stars
              </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
