{% extends "flask_user_layout.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">MOVIES</h1>

        <!-- Tab navigation -->
        <ul class="nav nav-tabs" id="moviesTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link {{ 'active' if selected_tab == 'genre' }}" href="{{ url_for('movies_page', sort='genre') }}">Genres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ 'active' if selected_tab == 'a_to_z' }}" href="{{ url_for('movies_page', sort='a_to_z') }}">Movies from A to Z</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ 'active' if selected_tab == 'ratings' }}" href="{{ url_for('movies_page', sort='ratings') }}">Movies according to Ratings</a>
            </li>
        </ul>

        <!-- Tab content -->
        <div class="categories">
            <form method="post" action="{{ url_for('movies_page') }}">
                {% for genre in genres %}
                    <button type="submit" name="genre" value="{{ genre }}" class="card-link btn btn-link">{{ genre }}</button>
                {% endfor %}
            </form>
        </div>

        {% include 'movies_display.html' %}
        
    </div>

    <!-- Bootstrap JavaScript for tabs -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}

