<!-- rating_success.html -->

{% extends "flask_user_layout.html" %}
{% block content %}
    <div class="container">
        <h2>Rating Submitted Successfully</h2>
        <p>Your rating of {{rating_value}} star(s) for the movie {{title}} has been successfully submitted. Thank you!</p>
        <a href="{{ url_for('movies_page') }}" class="btn btn-primary">Go back to Movies</a>
        <a href="{{ url_for('recommendations') }}" class="btn btn-primary">Go back to Recommendations</a>
    </div>
{% endblock %}