
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/shelf.jpg);
    background-position: center;
    background-size: cover;
  }
  
  .image-container {
    background-image: url(images/openbook.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 900px;
    max-height: 900px;
    margin-top: 200px;
    margin-bottom: 300px;
    text-align: center;
    overflow: auto;
}
  
  .text-container {
    position: absolute;
    top: 8%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgb(12, 12, 12);
  }

  
  
  .text-container h1 {
    margin: 0;
    font-size: 2em;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
    color: rgb(59, 58, 58);
    font-size: 20px;
  }
  
  a {
    text-decoration: none;
    color: rgb(59, 58, 58);
    font-size: 25px;
    text-align: left;
  }