body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/shelf.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden; /* Hide overflow content */
}

html {
    height: 100%;
}

a:hover {
    color: rgb(253, 253, 253);
    text-decoration: none;
  }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh; /* Set the container to 100% of the viewport height */
}

.text-container h1 {
    margin: 0;
    font-size: 2em;
}

.search-bar {
    width: 100%;
    max-width: 900px;
    background: rgba(185, 183, 190, 0.595);
    border-radius: 35px;
    padding: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 35px;
    padding: 20px;
    border-radius: 10px;
}

.search-button {
    margin-left: 10px;
    padding: 32px 35px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 38, 42);
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
}

.title {
    text-align: center;
    margin: 0;
    color: white;
    margin-top: 0vh;
    margin-bottom: 0vh;
    font-size: 50px;
}

.navbar-btn {
    font-size: 35px;
    padding: 8px 12px;
    margin: 0 0px;
    color: white;
}



