body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/shelf.jpg);
    background-position: center;
    background-size: cover;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 900px;
    text-align: center;
}

.image-container img {
    display: block;
    width: 105%;
    height: auto;
}

.text-container {
    position: absolute;
    max-width: 500px;
    font-size: 0.9em;
    top: 30px;
    left: 30px;
    padding: 20px;
    z-index: 2;
    color: rgb(31, 29, 31); /* Adjust text color */
    text-align: left;
}


.text-container h1 {
    margin: 0;
    font-size: 2em;
}

.text-container a {
    color: #3498db; /* Set link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth color transition on hover */
    font-size: 1.3em;
}

.text-container a:hover {
    color: #6d09ca; /* Change color on hover */
}

.text-container ul {
    list-style-type: none; /* Remove list bullets */
    padding: 0;
}

