body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/shelf.jpg);
    background-position: center;
    background-size: cover;
}

.image-container {
    background-image: url(images/openbook.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 900px;
    max-height: 900px;
    margin-top: 200px;
    margin-bottom: 300px;
    text-align: center;
    overflow: auto;
}

.text-container {
    position: absolute;
    max-width: 450px;
    font-size: 0.9em;
    top: 11%;
    left: 30px;
    padding: 20px;
    color: rgb(31, 29, 31); /* Adjust text color */
    border-right: 1px solid #ddd; /* Fine grey line separating text and list */
    
    text-align: left;
}

/* Style for the list group */
.list-group {
    top: 11%;
    width: 50%; /* Half the width */
    overflow: auto; /* Add scrollbar if content exceeds height */
    padding: 20px; /* Adjust as needed */
}

/* Style for each list item */
.list-group-item {
    border: 1px solid #ddd; /* Fine grey line separating list items */
    margin-bottom: 10px; /* Adjust as needed */
    text-align: left;
    background-color: #3a3636 !important;/* White background */
}

.mb-1 {
    color: #3498db; /* Set link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth color transition on hover */
    font-size: 1.3em;
}

.mb-1:hover {
    color: #6d09ca; /* Change color on hover */
}

