
{% extends 'base.html' %}



{% block title %}
<h1>Brainy Search</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='search.css')}}"/>

<div class="image-container">
  <div class="text-container">
      {% if suggestions %}
        <h1>Did you mean <em>{{ suggestions }}</em> instead of <br><em>{{misspelled}}</em>?<br><br> Here are results for {{ query }}: </h1>
      {% else %}
        <h1>Web pages that contain the word(s): <br>"<em>{{ query }}</em>"</h1>
      {% endif %}
        {% if matches %}
          <ul>{% for match in matches %}
          <br>  
          <li>    
              <span style="font-weight: bold;">{{ loop.index }}.</span>
              <a href="{{match['title']}}">{{ match['title'] }}</a>
          </li>
              {% endfor %}
          </ul>
        {% else %}
          <p style="color: #e74c3c;">Sorry, no matches were found</p>
        {% endif %}
      </div>
      <img src="../static/images/openbook.png">
    </div>
{% endblock %}

