{% extends 'base.html' %}

{% block title %}
  <h1> Brainy-History</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='history.css')}}"/>

  <div class="image-container">
    <div class="text-container">
        {% if search_history %}
        <h2> Search History of current session: </h2>
            {% for search in search_history %}
            <li>
                <span style="font-weight: bold;">{{ loop.index }}.</span>
                <a href="/search?q={{ search }}">{{ search }}</a>
            </li>
            {% endfor %}
        {% else %}
            <h2> Search History of current session is empty </h2>
        {% endif %}    
      </ul>
    </div>
  </div>
{% endblock %}